.selected[b-gr7r79anel] {
    background-color: yellow;
}

.cell[b-gr7r79anel] {

}

td[b-gr7r79anel] {
    padding: 3px;
}

td p[b-gr7r79anel] {
  margin: 0px;
  margin-block-start: 0;
  margin-block-end: 0;
}